examples/simple example.json
[
    {
        "id": "d9458ee26e50ecd5",
        "type": "inject",
        "z": "d2e014450d0e3a4b",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "50d9be476b07daeb"
            ]
        ]
    },
    {
        "id": "3023f57f560d34c4",
        "type": "debug",
        "z": "d2e014450d0e3a4b",
        "name": "Output SSL-CERT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 220,
        "wires": []
    },
    {
        "id": "50d9be476b07daeb",
        "type": "change",
        "z": "d2e014450d0e3a4b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "host",
                "pt": "msg",
                "to": "www.ferrari.com",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 220,
        "wires": [
            [
                "481470c97bd45b0d"
            ]
        ]
    },
    {
        "id": "5590eabc990e75f9",
        "type": "comment",
        "z": "d2e014450d0e3a4b",
        "name": "Set Params",
        "info": "",
        "x": 370,
        "y": 160,
        "wires": []
    },
    {
        "id": "a2090b54dbf45c3e",
        "type": "comment",
        "z": "d2e014450d0e3a4b",
        "name": "Get Certificate",
        "info": "",
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "22f6d42603cf75ed",
        "type": "comment",
        "z": "d2e014450d0e3a4b",
        "name": "Output Result",
        "info": "",
        "x": 810,
        "y": 160,
        "wires": []
    },
    {
        "id": "481470c97bd45b0d",
        "type": "tls-cert-info",
        "z": "d2e014450d0e3a4b",
        "name": "",
        "x": 590,
        "y": 220,
        "wires": [
            [
                "3023f57f560d34c4"
            ]
        ]
    }
]